<!DOCTYPE html>
<html>
<head>
    <title>Lka Esports</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Lka Esports'a Hoş Geldiniz</h1>
    <p>Site şu an aktif!</p>
    <a href="/login">Admin Girişi</a>
</body>
</html>
